body {
    background: rgb(13,62,16);
    background: linear-gradient(180deg, rgba(13,62,16,1) 0%, rgba(31,96,50,1) 35%, rgba(41,119,62,1) 100%);
    background-attachment: fixed;
    
}

#quote {
    font-size: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    color: white;
}

#character {
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    color: white;
}

img {
    display: block;
    max-width:400px;
    max-height:500px;
    width: auto;
    height: auto;
}
